# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Test / coverage
coverage/

# Docker volumes
.docker/pgdata/

*.zip

.turbo
